<h1>Super Powers</h1>
<h3>Get 'Em While They're Hot!</h3>

<%= link_to "Sort Alphabetically", products_path(sort_by: "alphabetical")%>
<br>
<%= link_to "Sort Powers by Most Reviews", products_path(sort_by: "most_reviews")%>
<br>
<%= link_to "Show 3 Newest Super Powers", products_path(sort_by: "three_most_recent")%>
<br>
<%= link_to "Show Products home grown in the U S of A", products_path(sort_by: "country")%>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %> |
      Reviews: <%= product.reviews.length %> |
      Country of Origin: <%= product.country %>
    </li>
  <% end %>
</ul>

<%= link_to "New Super Power", new_product_path %>
