<!DOCTYPE html>
<html>
  <head>
    <title>Super Power Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Asia's Super Power Store</h1>
    </div>
    <div class="container">
      <%= flash[:notice] %>  
      <%= yield %>
    </div>
  </body>
</html>
